<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formular</title>
</head>
<body>
<form method="POST">
    <input type="text" name="nm" placeholder="Bitte geben Sie Ihren Namen ein">
    <button type="submit">Senden</button>
</form>

</body>
</html>   -->




{% extends "index.html" %}  <!-- dass es überall das Layout (Navbar) vom index übernimmt -->

{% block content %}


    <form action="/zutaten" method="POST">
        <label for="erste zutat">1. Zutat</label>
        <input type="text" id="erste zutat" name="erste_zutat"/>
        <br/><br/>
        <label for="zweite zutat">2. Zutat</label>
        <input type="text" id="zweite zutat" name="zweite_zutat"/>
        <br/><br/>
        <label for="dritte zutat">3. Zutat</label>
        <input type="text" id="dritte zutat" name="dritte_zutat"/>
        <br/><br/>
        <input type="submit" value="Senden"/>
    </form>

{% endblock %}
