{% extends "index.html" %}  <!-- dass es überall das Layout (Navbar) vom index übernimmt -->

{% block content %}

{% for drink_name, zutaten in drinks.items(): %}        <!-- Loop in jinja code für Liste -->

<ul>

<li>{{ drink_name }}                        <!-- Ausgabe in jinja code -->
    <ul>
        <li> Zutaten
            <ul>
                {% for zutat in zutaten["Zutaten"].keys(): %}       <!-- Loop in jinja für Auflistung -->
                <li>{{ zutat }}</li>
                {% endfor %}
            </ul>
        <li/>
    </ul>
</li>

</ul>

{% endfor %}


{% endblock %}
